{#
/**
 * @file
 * Korone's theme implementation to display a single page.
 *
 * Footer file
 */
#}
 <section id="footer" class="panel footer indexContentOut" data-section-name="footer">
 <div class="footerTop">
    <div class="container">	
  {{ page.footer_microsoft_dynamics }}
  <div class="total_transformation_blog">
  <div class="blog_right">{{ page.footer_total_transformation_blog }}</div>
  <div class="newsletter_left">
  <div class="col-md-4 SubscribeOut">
            <h2><img src="sites/default/files/images/Subscribe-icon.png" width="29" height="29" alt=""/>Subscribe</h2>
            <p>for TOTAl TRANSFORMATION NEWSLETTERS</p>
            <div class="SubscribeInput">
			{{ page.footer_simple_news_letter }}
			</div>
          </div>
 </div>
  </div>
  {{ page.footer_contact_form }}
  </div>
  <div class="indexInquiry">
  <p><a href="/request-consultation">Complete our free online consultation form for an in-depth analysis<img src="sites/default/images/arrow-bg.png" width="9" height="16" alt=""/></a></p>
  </div>
  </div>
  <div class="footerBottom">
    <div class="container">
      {{ page.footer }}
      <p>© 2017 KORCOMPTENZ</p>
      <div class="footerLogo" ><img src="sites/default/files/images/microsoft-logo-footer.png" width="168" height="63" alt=""/><img src="sites/default/files/images/wbenc-logo-footer.png" width="121" height="63" alt=""/><img src="sites/default/files/images/e-verify-logo-footer.png" width="156" height="63" alt=""/></div>
    </div>
  </div>
</section>