{#
{#
/**
 * @file
 * 
 * Header Primary Menu file
 */
#}
   <ul>
              <!--Top Nav-->
              <li class="topNav">
                <ul>
                  <li><a href="/about-us">About</a></li>
                  <li><a href="/request-consultation">Contact</a></li>
                  <li><a href="/careers">Careers</a></li>
                  <li><a href="/why-korcomptenz">Why Korcomptenz?</a></li>
				  <li><a href="/resources">Resources</a></li>
				  <li><a href="/blog">Blog</a></li>
				  <span class="socialMediaHed">
                  <!--<li><a href="#"><img src="images/pinterest.png" width="32" height="32"></a></li> -->
                  <li><a target="_blank" href="https://www.facebook.com/Korcomptenz/" title="Korcomptenz Facebook"><img src="{{ base_path ~ directory }}/images/facebook.png" width="32" height="32"></a></li>
                  <li><a target="_blank" href="https://plus.google.com/+KorcomptenzInc" title="Korcomptenz Google Plus"><img src="{{ base_path ~ directory }}/images/google-plus.png" width="32" height="32"></a></li>
                  <li><a target="_blank" href="https://www.linkedin.com/company/133512/" title="Korcomptenz Linkedin"><img src="{{ base_path ~ directory }}/images/linkedin.png" width="32" height="32"></a></li>
                  <li><a target="_blank" href="https://twitter.com/korcomptenz" title="Korcomptenz Twitter"><img src="{{ base_path ~ directory }}/images/twitter.png" width="32" height="32"></a></li>
				  </span>
                </ul>
              </li>
              <!--Top Nav-->
              <li><a href="/web-marketing-technology">Web +<span>Marketing Technology</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
						<li><a href="/responsive-web-design"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Web_Marketing_Technology/Responsive-Web-Design-icon.png" width="44" height="44" alt="Responsive WebDesign" title="Responsive WebDesign"/></span><span>
                            <h4>Responsive Web Design</h4>
                            </span></a></li>		
                          <li><a href="/email-marketing-digital-messaging"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Web_Marketing_Technology/Email-Marketing-Digital-Messaging-icon.png" width="44" height="44" alt="Email Marketing Service Provider" title="Email Marketing Service Provider"/></span><span>
                            <h4>Email Marketing + Digital Messaging</h4>
                            </span></a></li>
                          <li><a href="/search-engine-services"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Web_Marketing_Technology/Search-Engine-Services-icon.png" width="44" height="44" alt="Search Engine Optimization" title="Search Engine Optimization"/></span><span>
                            <h4>Search Engine Services</h4>
                            </span></a></li>
						  <li><a href="/social-media"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Web_Marketing_Technology/Social-Media-icon.png" width="44" height="44" alt="Social Media" title="Social Media"/></span><span>
                            <h4> Social Media</h4>
                            </span></a>
						  </li>							  				
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>   
						  	
                          <li><a href="/cms"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Web_Marketing_Technology/Content-Management-Systems-icon.png" width="44" height="44" alt="MS Office Apps" title="MS Office Apps"/></span><span>
                            <h4> Content Management Systems</h4>
                            </span></a></li>
                          <li><a href="/customer-journeys-marketing-automation"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Web_Marketing_Technology/Customer-Journeys-Marketing-Automation-icon.png" width="44" height="44" alt="Customer Journey" title="Customer Journey"/></span><span>
                            <h4>Customer Journeys + Marketing Automation</h4>
                            </span></a></li>
                          <li><a href="/engagement-intelligence"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Web_Marketing_Technology/Engagement-Intelligence-icon.png" width="44" height="44" alt="Engagement Intelligence" title="Engagement Intelligence"/></span><span>
                            <h4>Engagement Intelligence</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Engage Your Customers + <br>
                          Prospects With Turnkey <br>
                          Digital Transformation <br>
                          Services</p>
                        <a href="/turnkey-digital-transformation-solutions" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu End--> 
              </li>
              <li><a href="/microsoft-dynamics-business-solutions">Microsoft Dynamics<span>Business Solutions</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
                          <li><a href="/microsoft-dynamics365"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Microsoft-Dynamics.png" width="44" height="44" alt="Platforms specialized services"/></span><span>
                            <h4>Microsoft Dynamics 365</h4>
                            <!--<p>Microsoft Dynamics specialists with competency in the complete Dynamics 365, AX, NAV and GP ecosystem</p> -->
                            </span></a></li>
                          <li><a href="/microsoft-dynamics-nav"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/nav.png" width="44" height="44" alt="Human Resource Applications"/></span><span>
                            <h4>Microsoft Dynamics NAV</h4>
                            </span></a></li>
						  <li><a href="/microsoft-dynamics-gp"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Microsoft-Dynamics.png" width="44" height="44" alt="Platforms specialized services"/></span><span>
                            <h4>Microsoft Dynamics GP</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>
                          <li><a href="/microsoft-dynamics-ax"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/ax.png" width="44" height="44" alt="Customer Relationship Management"/></span><span>
                            <h4>Microsoft Dynamics AX</h4>
                            </span></a></li>
                          <li><a href="/microsoft-dynamics-crm"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/crm.png" width="44" height="44" alt="Business Intelligence"/></span><span>
                            <h4>Microsoft Dynamics CRM</h4>
                            </span></a></li>
						<li><a href="/microsoft-dynamics-bi"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/power-bi-icons.png" width="44" height="44" alt="Platforms Specialized Services"/></span><span>
                            <h4>Power BI</h4>
                            </span></a></li>							
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <img src="{{ base_path ~ directory }}/images/microsoft-white-logo-footer.png" alt="Microsoft Certified Partner"/>
						<p>Enable your business and <br>
                          increase your productivity <br>
                          with Microsoft Dynamics</p>
                        <a href="/microsoft-dynamics-business-solutions" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu End--> 
              </li>
			  <!--
			  <li><a href="/business-management-solutions">Business<span>Management Solutions</span></a> 
                <ul>
                  <li>
                    <div class="megaMenuInner">
                      <div class="col-md-4">
                        <ul>
                          <li><a href="/enterprise-resource-planning"><span class="icon"><img src="{{ base_path ~ directory }}/images/Enterprise-Resource-Planning-icon.png" width="44" height="44" alt="Enterprise Resource Planning"/></span><span>
                            <h4>Enterprise Resource Planning</h4>
                            <p>Microsoft Dynamics specialists with competency in the complete Dynamics 365, AX, NAV and GP ecosystem</p>
                            </span></a></li>
                          <li><a href="/human-resource-applications"><span class="icon"><img src="{{ base_path ~ directory }}/images/Human-Resource-Applications-icon.png" width="44" height="44" alt="Human Resource Applications"/></span><span>
                            <h4>Human Resource Applications</h4>
                            <p>Custom software for small and midsize business, and experience implementing and managing off-the-shelf solutions</p>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>
                          <li><a href="/customer-relationship-management"><span class="icon"><img src="{{ base_path ~ directory }}/images/Customer-Relationship-Management-icon.png" width="44" height="44" alt="Customer Relationship Management"/></span><span>
                            <h4>Customer Relationship Management</h4>
                            <p>Microsoft Dynamics + Salesforce expertise with experience integrating large data sets and addressing advanced security needs</p>
                            </span></a></li>
                          <li><a href="/business-intelligence"><span class="icon"><img src="{{ base_path ~ directory }}/images/Business-Intelligence-icon.png" width="44" height="44" alt="Business Intelligence"/></span><span>
                            <h4>Business Intelligence</h4>
                            <p>Microsoft PowerBI specialists with data visualization and SSRS expertise.</p>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Enable your business and <br>
                          increase your productivity <br>
                          with Microsoft Dynamics</p>
                        <a href="/enterprise-resource-planning" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>                
              </li>
			  -->
              <li><a href="/mobile-apps-and-custom-solutions">Mobile Apps +<span>Custom Development</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
                          <li><a href="/mobile-apps"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Mobile_Apps/Mobile-Apps-icon.png" width="44" height="44" alt="Mobile Apps Development"/></span><span>
                            <h4>Mobile Apps</h4>
                            </span></a></li>
                          <li><a href="/internet-portals-applications"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Mobile_Apps/Intranet-Portals-Applications-icon.png" width="44" height="44" alt="Human Resource Applications"/></span><span>
                            <h4>Intranet Portals + Applications</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>
                          <li><a href="/custom-enterprise-software"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Mobile_Apps/Custom-Enterprise-Software-icon.png" width="44" height="44" alt="Custom-Enterprise-Applications"/></span><span>
                            <h4>Custom Enterprise Software</h4>
                            </span></a></li>
                          <li><a href="/business-accelerators"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Mobile_Apps/Business-Accelerators-icon.png" width="44" height="44" alt="Business Intelligence"/></span><span>
                            <h4>Business Accelerators</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Accelerate your business<br>with mobility and connectivity<br>solutions powered by Microsoft Office365</p>
                        <a href="/microsoft-office365" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu End--> 
              </li>
              <!--
			  <li><a href="/cloud-infrastructure-management">Infrastructure+<span>Cloud  Management</span></a> 
                <!--Mega Menu-->
                <!--<ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
                          <li><a href="/email"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Email-Mega-menu-icon.png" width="44" height="44" alt="Responsive Web Design"/></span><span>
                            <h4>Email</h4>
                            </span></a></li>
                          <li><a href="/office-productivity-apps"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Office-Productivity-Apps-icon.png" width="44" height="44" alt="Email Marketing"/></span><span>
                            <h4>Office + Productivity Apps</h4>
                            </span></a></li>
                          <li><a href="/desktop-support"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Desktop-Support-icon.png" width="44" height="44" alt=""/></span><span>
                            <h4>Desktop Support</h4>
                            </span></a></li>
                          <li><a href="/website-hosting"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Website-Hosting-icon.png" width="44" height="44" alt="Search Engine Optimization"/></span><span>
                            <h4>Website Hosting</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>
                          <li><a href="/web-application-management"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Web-Application-Management-icon.png" width="44" height="44" alt=""/></span><span>
                            <h4> Web + Application Management</h4>
                            </span></a></li>
                          <li><a href="/data-center-services"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Data-Center-Services-icon.png" width="44" height="44" alt=""/></span><span>
                            <h4> Data Center Services</h4>
                            </span></a></li>
                          <li><a href="/back-up-disaster-recovery"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Back-Up-Disaster-Recovery-icon.png" width="44" height="44" alt="Customer Journeys"/></span><span>
                            <h4>Back Up + Disaster Recovery</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Enable + Accelerate Your <br>
						Business With Turnkey <br>
						Cloud Solutions Powered <br>by Microsoft</p>
                        <a href="/turnkey-cloud-solution" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>-->
                <!--Mega Menu End--> 
              <!--</li>
			  -->
			  <li><a href="/infrastructure-cloud-management">Infrastructure+<span>Cloud  Management</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
                          <li><a href="/managed-it-services"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Infrastructure/Managed-IT-Services-icon.png" width="44" height="44" alt="Managed IT Services"/></span><span>
                            <h4>Managed IT Services</h4>
                            </span></a></li>
                          <li><a href="/office-365-g-suite-sharepoint"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Infrastructure/Office-365-G-suite-SharePoint-icon.png" width="44" height="44" alt="Microsoft Office 365 Partner"/></span><span>
                            <h4>Office 365 +  G suite  + SharePoint</h4>
                            </span></a></li>
                          <li><a href="/desktop-server-networking-support"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Infrastructure/Desktop-Server-Networking-Support-icon.png" width="44" height="44" alt="desktop support"/></span><span>
                            <h4>Desktop + Server + Networking Support</h4>
                            </span></a></li>
                          <li><a href="/disaster-recovery-and-business-continuity"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Infrastructure/Disaster-Recovery-Business-Continuity-icon.png" width="44" height="44" alt="Customer Journeys"/></span><span>
                            <h4>Disaster Recovery and Business Continuity</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>
                          <li><a href="/hosting-cloud-services"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Infrastructure/Hosting-and-Cloud-Services-icon.png" width="44" height="44" alt="Search Engine Optimization"/></span><span>
                            <h4>Hosting and Cloud Services</h4>
                            </span></a></li>
							<li><a href="/virtualization"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Infrastructure/Virtualisation-icon.png" width="44" height="44" alt="Mobile App Virtualization"/></span><span>
                            <h4>Virtualization (Hyper-V, VMware, Citrix)</h4>
                            </span></a></li>
                          <li><a href="/network-security-audit"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Infrastructure/Network-Security-Audit-icon.png" width="44" height="44" alt="Network security"/></span><span>
                            <h4>Network Security + Audit</h4>
                            </span></a></li>                          
						  <li><a href="/flat-fee"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Infrastructure/Flat-Fee-Calculator-icon.png" width="44" height="44" alt="Customer Journeys"/></span><span>
                            <h4>Flat Fee Calculator*</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Enable + Accelerate Your <br>
						Business With Turnkey <br>
						Cloud Solutions Powered <br>by Microsoft</p>
                        <a href="/turnkey-cloud-solution" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu End--> 
              </li>
              <li><a href="/platforms-specialized-services">Platforms +<span>Specialized Services</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
						  <li><a href="/microsoft-dynamics-ax"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/ax.png" width="44" height="44" alt="Customer Relationship Management"/></span><span>
                            <h4>Microsoft Dynamics AX</h4>
                            </span></a></li>
                          <!-- <li><a href="#"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/sap.png" width="44" height="44" alt="Microsoft Dynamics"/></span><span>
                            <h4>SAP</h4>
                            </span></a></li>
							<li><a href="#"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Salesforce-icon.png" width="44" height="44" alt="Salesforce"/></span><span>
                            <h4>SALESFORCE</h4>
                            </span></a></li> -->														
						  <li><a href="/microsoft-office365"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/nav.png" width="44" height="44" alt="Microsoft Office 365"/></span><span>
                            <h4>Microsoft office 365</h4>
                            </span></a></li>
						  <li><a href="/microsoft-sharepoint"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Microsoft-SharePoint.png" width="44" height="44"  alt="Microsoft Office365" /></span><span>
                            <h4>Microsoft SharePoint</h4>
                            </span></a></li>							
						  <li><a href="/platforms-specialized-services"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Content-ManagementSystems.png" width="44" height="44" alt="Content Management Systems"/></span><span>
                            <h4>VIEW ALL PLATFORMS >></h4>
                            </span></a></li>							
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>                          
                          <li><a href="/microsoft-dynamics365"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Microsoft-Dynamics.png" width="44" height="44" alt="Platforms specialized services"/></span><span>
                            <h4>Microsoft Dynamics 365</h4>
                            <!--<p>Microsoft Dynamics specialists with competency in the complete Dynamics 365, AX, NAV and GP ecosystem</p> -->
                            </span></a></li>
                          <li><a href="/drupal"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/drupal-logo.png" width="44" height="44" alt="Platforms specialized service provider"/></span><span><!-- Microsoft-Office365.png -->
                            <h4>Drupal</h4>
                            </span></a></li>
						 <li><a href="/wordpress"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/wordpress-logo.png" width="44" height="44" alt="Dynamics 365 Implementation"/></span><span><!-- Microsoft-Office365.png -->
                            <h4>Wordpress</h4>
                            </span></a></li>						 						  
						  <li><a href="/kentico"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/kentico-1.png" width="44" height="44" alt="CMS service provider"/></span><span>
                            <h4>Kentico</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-3" >                        
						<img src="{{ base_path ~ directory }}/images/microsoft-white-logo-footer.png" alt="Power BI"/>
						<p>We are a proud member of the Microsoft Partner Network</p>
						</div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu End--> 
              </li>
              <li><a href="/professional-staffing">Professional<span>Staffing</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
                           <li><a href="/staff-augmentation"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Professional-Staffing/Staff-Augmentation-icon.png" width="44" height="44" alt="Website hosting"/></span><span>
                            <h4>Staff Augmentation</h4>
                            </span></a></li>
							<li><a href="/permanent-hiring"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Professional-Staffing/Permanent-Hiring-icon.png" width="44" height="44"  alt="Professional hiring" /></span><span>
                            <h4>Permanent Hiring</h4>
                            </span></a></li>
							<li><a href="/recruitment-process-outsourcing"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Professional-Staffing/Recruitment-Process-Outsourcing-icon.png" width="44" height="44" alt="Recruitment Process Outsourcing"/></span><span>
                            <h4> Recruitment Process Outsourcing</h4>
                            </span></a></li>                   
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>
                          
                          <li><a href="/kompete-hrm-solution"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Professional-Staffing/Kompete-HRMS-icon.png" width="44" height="44" alt="Business Accelerators"/></span><span>
                            <h4>Kompete HRMS</h4>
                            </span></a></li>
							<li><a href="/verticals-we-serve"><span class="icon"><img src="{{ base_path ~ directory }}/images/mega-menu-icon/Professional-Staffing/Verticals-icon.png" width="44" height="44" alt="Cloud Infrastructure"/></span><span>
                            <h4>Verticals</h4>
                            </span></a></li>   
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Request a Professional  <br />Staffing Consultation</p>
                        <a href="/request-consultation" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu--> 
              </li>
            </ul>