{#
/**
 * @file
 * 
 * Header Primary Menu file
 */
#}
   <ul>
              <!--Top Nav-->
              <li class="topNav">
                <ul>
                  <li><a href="/about-us">About</a></li>
                  <li><a href="/request-consultation">Contact</a></li>
                  <li><a href="/careers">Careers</a></li>
                  <li><a href="/why-korcomptenz">Why Korcomptenz?</a></li>
				  <li><a href="/blog">Blog</a></li>
                </ul>
              </li>
              <!--Top Nav-->
              <li><a href="/web-marketing-technology">Web +<span>Marketing Technology</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
                          <li><a href="/responsive-web-design"><span class="icon"><img src="{{ base_path ~ directory }}/images/Responsive-Web-Design-icon-menu.png" width="44" height="44" alt="Responsive Web Design"/></span><span>
                            <h4>Responsive Web Design</h4>
                            </span></a></li>
                          <li><a href="/email-marketing-digital-messaging"><span class="icon"><img src="{{ base_path ~ directory }}/images/Email-Marketing-icon-menu.png" width="44" height="44" alt="Email Marketing"/></span><span>
                            <h4>Email Marketing + Digital Messaging</h4>
                            </span></a></li>
                          <li><a href="/search-engine-services"><span class="icon"><img src="{{ base_path ~ directory }}/images/Search-Engine-Optimization-icon-menu.png" width="44" height="44" alt=""/></span><span>
                            <h4>Search Engine Services</h4>
                            </span></a></li>
							<li><a href="/social-media"><span class="icon"><img src="{{ base_path ~ directory }}/images/Social-Media-icon-menu.png" width="44" height="44" alt=""/></span><span>
                            <h4> Social Media</h4>
                            </span></a></li>							
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>                         
                          <li><a href="/cms"><span class="icon"><img src="{{ base_path ~ directory }}/images/Content-ManagementSystems-icon.png" width="44" height="44" alt=""/></span><span>
                            <h4> Content Management Systems</h4>
                            </span></a></li>
                          <li><a href="/customer-journeys-marketing-automation"><span class="icon"><img src="{{ base_path ~ directory }}/images/Customer-Journeys-icon-menu.png" width="44" height="44" alt="Customer Journeys"/></span><span>
                            <h4>Customer Journeys + Marketing Automation</h4>
                            </span></a></li>
                          <li><a href="/engagement-intelligence"><span class="icon"><img src="{{ base_path ~ directory }}/images/Engagement-Intelligence-icon-menu.png" width="44" height="44" alt="Engagement Intelligence"/></span><span>
                            <h4>Engagement Intelligence</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Engage Your Customers + <br>
                          Prospects With Turnkey <br>
                          Digital Transformation <br>
                          Services</p>
                        <a href="/turnkey-digital-transformation-solutions" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu End--> 
              </li>
              <li><a href="/microsoft-dynamics-business-solutions">Microsoft Dynamics<span>Business Solutions</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
                          <li><a href="/microsoft-dynamics365"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Microsoft-Dynamics.png" width="44" height="44" alt="Enterprise Resource Planning"/></span><span>
                            <h4>Microsoft Dynamics 365</h4>
                            <!--<p>Microsoft Dynamics specialists with competency in the complete Dynamics 365, AX, NAV and GP ecosystem</p> -->
                            </span></a></li>
                          <li><a href="/microsoft-dynamics-nav"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/nav.png" width="44" height="44" alt="Human Resource Applications"/></span><span>
                            <h4>Microsoft Dynamics NAV</h4>
                            </span></a></li>
						  <li><a href="/microsoft-dynamics-gp"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Microsoft-Dynamics.png" width="44" height="44" alt="Business Intelligence"/></span><span>
                            <h4>Microsoft Dynamics GP</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>
                          <li><a href="/microsoft-dynamics-ax"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/ax.png" width="44" height="44" alt="Customer Relationship Management"/></span><span>
                            <h4>Microsoft Dynamics AX</h4>
                            </span></a></li>
                          <li><a href="/microsoft-dynamics-crm"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/crm.png" width="44" height="44" alt="Business Intelligence"/></span><span>
                            <h4>Microsoft Dynamics CRM</h4>
                            </span></a></li>
						<li><a href="/microsoft-dynamics-bi"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/bi.png" width="44" height="44" alt="Microsoft Office 365"/></span><span>
                            <h4>Microsoft Dynamics BI</h4>
                            </span></a></li>							
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Enable your business and <br>
                          increase your productivity <br>
                          with Microsoft Dynamics</p>
                        <a href="/microsoft-dynamics-business-solutions" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu End--> 
              </li>
			  <!--
			  <li><a href="/business-management-solutions">Business<span>Management Solutions</span></a> 
                <ul>
                  <li>
                    <div class="megaMenuInner">
                      <div class="col-md-4">
                        <ul>
                          <li><a href="/enterprise-resource-planning"><span class="icon"><img src="{{ base_path ~ directory }}/images/Enterprise-Resource-Planning-icon.png" width="44" height="44" alt="Enterprise Resource Planning"/></span><span>
                            <h4>Enterprise Resource Planning</h4>
                            <p>Microsoft Dynamics specialists with competency in the complete Dynamics 365, AX, NAV and GP ecosystem</p>
                            </span></a></li>
                          <li><a href="/human-resource-applications"><span class="icon"><img src="{{ base_path ~ directory }}/images/Human-Resource-Applications-icon.png" width="44" height="44" alt="Human Resource Applications"/></span><span>
                            <h4>Human Resource Applications</h4>
                            <p>Custom software for small and midsize business, and experience implementing and managing off-the-shelf solutions</p>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>
                          <li><a href="/customer-relationship-management"><span class="icon"><img src="{{ base_path ~ directory }}/images/Customer-Relationship-Management-icon.png" width="44" height="44" alt="Customer Relationship Management"/></span><span>
                            <h4>Customer Relationship Management</h4>
                            <p>Microsoft Dynamics + Salesforce expertise with experience integrating large data sets and addressing advanced security needs</p>
                            </span></a></li>
                          <li><a href="/business-intelligence"><span class="icon"><img src="{{ base_path ~ directory }}/images/Business-Intelligence-icon.png" width="44" height="44" alt="Business Intelligence"/></span><span>
                            <h4>Business Intelligence</h4>
                            <p>Microsoft PowerBI specialists with data visualization and SSRS expertise.</p>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Enable your business and <br>
                          increase your productivity <br>
                          with Microsoft Dynamics</p>
                        <a href="/enterprise-resource-planning" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>                
              </li>
			  -->
              <li><a href="/mobile-apps-and-custom-solutions">Mobile Apps +<span>Custom Dev</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner">
                      <div class="col-md-4">
                        <ul>
                          <li><a href="/mobile-apps"><span class="icon"><img src="{{ base_path ~ directory }}/images/Mobile-App-icon.png" width="44" height="44" alt="Enterprise Resource Planning"/></span><span>
                            <h4>Mobile Apps</h4>
                            <p>Design, development, and support of dedicated iOS, Android, and hybrid apps</p>
                            </span></a></li>
                          <li><a href="/internet-portals-applications"><span class="icon"><img src="{{ base_path ~ directory }}/images/Internet-Portals-Applications-icon.png" width="44" height="44" alt="Human Resource Applications"/></span><span>
                            <h4>Intranet Portals + Applications</h4>
                            <p>Portals, intranets, extranets, and web apps to accelerate your results by meeting specific business needs</p>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>
                          <li><a href="/custom-enterprise-software"><span class="icon"><img src="{{ base_path ~ directory }}/images/Custom-Enterprise-Applications-icon.png" width="44" height="44" alt="Customer Relationship Management"/></span><span>
                            <h4>Custom Enterprise Software</h4>
                            <p>Experienced solution architecture and delivery services for enterprise applications</p>
                            </span></a></li>
                          <li><a href="/business-accelerators"><span class="icon"><img src="{{ base_path ~ directory }}/images/Business-Accelerators-icon.png" width="44" height="44" alt="Business Intelligence"/></span><span>
                            <h4>Business Accelerators</h4>
                            <p>Improve your mobility, connectivity, and productivity by making the most of your Microsoft Office applications.</p>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Accelerate your business<br>with mobility and connectivity<br>solutions powered by Microsoft Office365</p>
                        <a href="/microsoft-office365" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu End--> 
              </li>
              <li><a href="/cloud-infrastructure-management">Cloud +<span>Infrastructure Management</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
                          <li><a href="/email"><span class="icon"><img src="{{ base_path ~ directory }}/images/Email-Mega-menu-icon.png" width="44" height="44" alt="Responsive Web Design"/></span><span>
                            <h4>Email</h4>
                            </span></a></li>
                          <li><a href="/office-productivity-apps"><span class="icon"><img src="{{ base_path ~ directory }}/images/Office-Productivity-Apps-icon.png" width="44" height="44" alt="Email Marketing"/></span><span>
                            <h4>Office + Productivity Apps</h4>
                            </span></a></li>
                          <li><a href="/desktop-support"><span class="icon"><img src="{{ base_path ~ directory }}/images/Desktop-Support-icon.png" width="44" height="44" alt=""/></span><span>
                            <h4>Desktop Support</h4>
                            </span></a></li>
                          <li><a href="/website-hosting"><span class="icon"><img src="{{ base_path ~ directory }}/images/Website-Hosting-icon.png" width="44" height="44" alt="Search Engine Optimization"/></span><span>
                            <h4>Website Hosting</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>
                          <li><a href="/web-application-management"><span class="icon"><img src="{{ base_path ~ directory }}/images/Web-Application-Management-icon.png" width="44" height="44" alt=""/></span><span>
                            <h4> Web + Application Management</h4>
                            </span></a></li>
                          <li><a href="/data-center-services"><span class="icon"><img src="{{ base_path ~ directory }}/images/Data-Center-Services-icon.png" width="44" height="44" alt=""/></span><span>
                            <h4> Data Center Services</h4>
                            </span></a></li>
                          <li><a href="/back-up-disaster-recovery"><span class="icon"><img src="{{ base_path ~ directory }}/images/Back-Up-Disaster-Recovery-icon.png" width="44" height="44" alt="Customer Journeys"/></span><span>
                            <h4>Back Up + Disaster Recovery</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Enable + Accelerate Your <br>
						Business With Turnkey <br>
						Cloud Solutions Powered <br>by Microsoft</p>
                        <a href="/turnkey-cloud-solution" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu End--> 
              </li>
              <li><a href="/platforms-specialized-services">Platforms +<span>Specialized Services</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
						  <li><a href="/microsoft-dynamics-ax"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/ax.png" width="44" height="44" alt="Customer Relationship Management"/></span><span>
                            <h4>Microsoft Dynamics AX</h4>
                            </span></a></li>
                          <!-- <li><a href="#"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/sap.png" width="44" height="44" alt="Microsoft Dynamics"/></span><span>
                            <h4>SAP</h4>
                            </span></a></li>
							<li><a href="#"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Salesforce-icon.png" width="44" height="44" alt="Salesforce"/></span><span>
                            <h4>SALESFORCE</h4>
                            </span></a></li> -->						 
						  <li><a href="/microsoft-office365"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/nav.png" width="44" height="44" alt="Microsoft Office 365"/></span><span>
                            <h4>Microsoft office 365</h4>
                            </span></a></li>	
						  <li><a href="/platforms-specialized-services"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Content-ManagementSystems.png" width="44" height="44" alt="Platforms"/></span><span>
                            <h4>VIEW ALL PLATFORMS >></h4>
                            </span></a></li>							
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>                          
                          <li><a href="/microsoft-dynamics365"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Microsoft-Dynamics.png" width="44" height="44" alt="Enterprise Resource Planning"/></span><span>
                            <h4>Microsoft Dynamics 365</h4>
                            <!--<p>Microsoft Dynamics specialists with competency in the complete Dynamics 365, AX, NAV and GP ecosystem</p> -->
                            </span></a></li>
                          <li><a href="/drupal"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/drupal-logo.png" width="44" height="44" alt="Platforms"/></span><span><!-- Microsoft-Office365.png -->
                            <h4>Drupal</h4>
                            </span></a></li>
						 <li><a href="/wordpress"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/wordpress-logo.png" width="44" height="44" alt="Platforms"/></span><span><!-- Microsoft-Office365.png -->
                            <h4>Wordpress</h4>
                            </span></a></li>
						  <li><a href="/microsoft-sharepoint"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/Microsoft-SharePoint.png" width="44" height="44"  alt="Microsoft Office365" /></span><span>
                            <h4>Microsoft SharePoint</h4>
                            </span></a></li>						  
						  <li><a href="/kentico"><span class="icon"><img src="{{ base_path ~ directory }}/images/platforms-specialized-services/kentico-1.png" width="44" height="44" alt="Platforms"/></span><span>
                            <h4>Kentico</h4>
                            </span></a></li>
                        </ul>
                      </div>
                      <div class="col-md-3" >                        
						<img src="{{ base_path ~ directory }}/images/microsoft-white-logo-footer.png" alt="Microsoft Certified Partner"/>
						<p>We are a proud member of the Microsoft Partner Network</p>
						</div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu End--> 
              </li>
              <li><a href="/professional-staffing">Professional<span>Staffing</span></a> 
                <!--Mega Menu-->
                <ul>
                  <li>
                    <div class="megaMenuInner megaMenuStyle2">
                      <div class="col-md-4">
                        <ul>
                           <li><a href="/staff-augmentation"><span class="icon"><img src="{{ base_path ~ directory }}/images/Staff-Augmentation-icon-new.png" width="44" height="44" alt="Content-ManagementSystems"/></span><span>
                            <h4>Staff Augmentation</h4>
                            </span></a></li>
							<li><a href="/permanent-hiring"><span class="icon"><img src="{{ base_path ~ directory }}/images/Skills-Types-Hires-icon.png" width="44" height="44"  alt="Microsoft Office365" /></span><span>
                            <h4>Permanent Hiring</h4>
                            </span></a></li>
							<li><a href="/recruitment-process-outsourcing"><span class="icon"><img src="{{ base_path ~ directory }}/images/Recruitment-Process-Outsourcing-icon-new.png" width="44" height="44" alt="Microsoft Office 365"/></span><span>
                            <h4> Recruitment Process Outsourcing</h4>
                            </span></a></li>                   
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <ul>
                          
                          <li><a href="/kompete-hrm-solution"><span class="icon"><img src="{{ base_path ~ directory }}/images/Kompete-HRMS-icon.png" width="44" height="44" alt="Salesforce"/></span><span>
                            <h4>Kompete HRMS</h4>
                            </span></a></li>
							<li><a href="/verticals-we-serve"><span class="icon"><img src="{{ base_path ~ directory }}/images/Verticals-icon.png" width="44" height="44" alt="Microsoft Dynamics"/></span><span>
                            <h4>Verticals</h4>
                            </span></a></li>   
                        </ul>
                      </div>
                      <div class="col-md-3" >
                        <p>Request a Professional  <br />Staffing Consultation</p>
                        <a href="/request-consultation" class="btn btn4">explore</a> </div>
                    </div>
                  </li>
                </ul>
                <!--Mega Menu--> 
              </li>
            </ul>