{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,   
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,    
	'image-bg',
	'page-title-2',
	'innerBanner',
	
  ]
%}

<!--Inner Banner-->
	{% if url == '/small-midsize-business-solutions' %}
		<section class="mapp-banner second_boxcontainer">
			<img src="/themes/custom/korone/images/small_midsize/ios-banner-bg.png" alt="small midsize business solutions" class="mapp-shite-overlay" title="small midsize business solutions">
			<div class="container">
				<div class="col-xs-12 col-md-12 mapp-sbanner-txt">
					<div class="mapp">
						<h3>You Focus on your CORE, while we focus on your Technology needs </h3>					
						
					</div>	
					<img src="/themes/custom/korone/images/small_midsize/small_med_business_banner01.png" alt="small midsize business solutions" class="hidden-xs animation-element slide-left" width="60%" title="small midsize business solutions">
				</div>
			</div>
			<h1 class="seo-h1-hidden">Mobile App Development Service Company</h1>
		</section>
	{% else %}
		{% if content.field_smp_banner_title|field_value %}
			<section {{ attributes.addClass(classes) }}>
				<div class="background-image-holder">
				<img class="background-image" src={{ file_url(content.field_smp_banner_img|field_target_entity.uri.value) }} alt="{{ content.field_smp_banner_title|field_value }}" title="{{ content.field_smp_banner_title|field_value }}" /></div>
				{% if 'microsoft-dynamics-business-solutions' in url or 'microsoft-dynamics365' in url or 'microsoft-dynamics-nav' in url or 'microsoft-dynamics-gp' in url or 'microsoft-dynamics-ax' in url or 'microsoft-dynamics-crm' in url or 'microsoft-dynamics-bi' in url or 'e-commerce-interface-with-dynamics-ax-2009' in url or 'leading-manufacturing-company' in url  or 'microsoft-dynamics-ax-support' in url  or 'branch-medical-group' in url%}
					<div class="bannerIocn"><img src="themes/custom/korone/images/banner-logo.png" alt="{{ content.field_smp_banner_title|field_value }}" title="{{ content.field_smp_banner_title|field_value }}"/></div>
				{% endif %}
				<div class="container">
					<h1>{{ content.field_smp_banner_title|field_value }}</h1>
					<p>{{ content.field_smp_banner_sub_title|field_value }}</p> 	 
				 </div>
			</section>
		{% endif %}
	{% endif %}
  {{ content.body }}
  
  <!--Inner Banner End-->
  {{ attach_library('korone/easyresponsivetabs') }}
 