{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
<!--Inner Banner-->
<section class="image-bg   page-title-2  innerBanner">
<div class="background-image-holder"><img alt="Background Image" class="background-image" src={{ file_url(content.field_default_banner|field_target_entity.uri.value) }} /></div>
<div class="container">
  <h1>{{ content.field_blog_sub_title|field_value }}</h1>
  {% set blog_date = node.getCreatedTime|date('F d, Y') %}
  <p><a href="/" title="Korcomptenz">Korcomptenz</a> - <a href="/blog" title="Total Transformation Blog">Total Transformation Blog</a> - {{ content.field_blog_sub_title|field_value }}</p>
</div>
</section>
<!--Inner Banner End-->
  <section class="blogDetailsPage">
	<div class="container">
	<div class="date-2"><span class="date-3">Posted on </span> {{ blog_date }} <!--<span class="date-3"> by </span> --></div>
	{% set conBody %}
     {{ content.body }}
{% endset %}	
 {{ content.body }}
 {% if content.field_blog_tags|field_value !='' %}
 <div class="name" style="margin-bottom: 0px;">
 	<div class="col-sm-12 tags_links">
		Tags: {{ content.field_blog_tags|field_value }}
	</div>
 </div>
 {% endif %}
   <div class="name">
  <div class="col-sm-8">
  {{ content.field_blog_author|field_value }}
</div>
<div class="col-sm-4 mt50">

</div>

  </div>
  <div class="shareThis">
	<h4><span>share This </span></h4>
	<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
	<ul>
		<li><a class="a2a_button_facebook"></a></li>
		<li><a class="a2a_button_twitter"></a></li>
		<li><a class="a2a_button_google_plus"></a></li>
		<li><a class="a2a_button_pinterest"></a></li>
		<li><a class="a2a_button_linkedin"></a></li>
		<li><a class="a2a_button_email"></a></li>
	</ul>
	</div>  

</div>
  <!-- <div class="shareThis">
 <h4><span>share This </span></h4>
 <ul>
 <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
 <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
 <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
 <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
 <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
 <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
 </ul>
 </div>  -->
  
<div class="blogDetailsBottom">
	{% if content.field_blog_related_articles|field_value %}
	<div class="relatedArticles">
		<div class="relatedArticlesTh">
			<h4><span>RELATED ARTICLES</span></h4>
		</div>
		<div class="row">
			{{ content.field_blog_related_articles|field_value }}
		</div>
	</div>
	{% endif %}

<div class="comments">
	<div class="commentsTh">
		<h4><span>comments</span></h4> 
	</div> 
	{{ content.field_blog_comments }} 
</div>
</div>
  
    </div>
	</section>
	{% if page.footer_second %}
  <section class="greybandOut">
    <div class="container">
	{{ page.footer_second }}      
    </div>
  </section>
  {% endif %}