{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
{% include '@korone/header.html.twig' %} 
<!--Content-->
<div class="main-container innerpage">
 <section class="image-bg md-bg-banner-new PatientJourneyBannerNew">
	<div class="PatientJourneyBannerNewIn">
       <div class="PatientJourneyBannerRight">
		   <div id="myCarousel" class="carousel slide" data-ride="carousel">
			   <h3>Are you Looking for Office 365 migration Support and Services?</h3>
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
	  <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="carousel-caption">
			<h2>Plan your migration from  Exchange to <span title="Microsoft Office 365">Office 365</span></h2>
			<h3>Features that provide measurable benefits to organizations. Migrate now! </h3>
		  </div>
      </div>

      <div class="item">
       <div class="carousel-caption">
			<h2>Migrate all emails, calendars, and contents on limited downtime with <span title="Microsoft Office 365">Office 365</span></h2>
		 <h3>Easy access to email, calendars, collaboration &amp; information from anywhere</h3>
		  </div>
      </div>
    
      <div class="item">
       <div class="carousel-caption">
			<h2>Evaluate your current usage and identify the ideal 
<span title="Microsoft Office 365">Office 365</span> subscription for your needs </h2>
		 <h3>Office 365 Migration Consulting Solution with Korcomptenz. Get Free Consultation!</h3>
		  </div>
      </div>
		
      <div class="item">
       <div class="carousel-caption">
			<h2>Training and support, plus configuration of add-on 
tools at no cost with <span title="Microsoft Office 365">Office 365</span></h2>
		 <h3>Migrate to Office 365 to socialize and mobilize your enterprise. No Downtime</h3>
		  </div>
      </div>
		
    </div>
  </div>
	   </div>
	  <div class="bi-banner-form">
     <h2>Sign up for a Free Consultation and Demo</h2>
<div class="col-md-12">
  <div>
    <div id="block-webform-4" data-block-plugin-id="webform_block" class="block block-webform block-webform-block">
      <div class="content">
      {{ page.kentico_supercharged }}
    </div>
  </div>
  </div>

</div>
     </div>
		
		</div>

	<div class="white-overlay"><img alt="" src="/themes/custom/korone/images/office_migration_365/wrapper-bg.png"></div>
</section>
<section class="ban-img ">
		<div class="container animation-element slide-left">
		<div class="row m-0">
			
			<div class="col-xs-12 col-md-5 ms-partner p-365">
				<h2 style="font-size:42px;">Banish Downtime with<br><span style="    color: #007ee2;font-size: 35px;line-height: 50px;">MS Office 365</span> </h2>
			
			</div>
			<div class="col-xs-12 col-md-7 tabview video-disp">
				<img src="/themes/custom/korone/images/office_migration_365/loader.gif" class="loader" alt="">
				<div class="">
	
					<img src="/themes/custom/korone/images/office_migration_365/upfront_outlookweb.png" alt="">
					</div>
	
			</div>
			
			</div>
		</div>
		
		</section>
        
<section class="responsiveContent responsiveTopOut clear-resp">
<div class="cms-pdf">
 <section>
<div class="container-fluid">
<div class="container">
<div class="row form2">
<!--  <div class="col-sm-12"><h2>Is your current Email Infrastructure unreliable?</h2></div> -->
<div class="col-sm-12 pb30">
<h1>Microsoft Office 365 Support &amp; Migration Services</h1>
<h2>Making the most of Microsoft's Subscription Business Software Platform</h2>
<p>Most people think about <strong>Microsoft Office</strong> as an email service and a suite of productivity apps, but <a href="/office365-migration" title="Office 365">Office 365 </a>offers a much broader range of collaboration, socialization, and mobility features that provide measurable benefits to organizations that embrace additional usages of the technology.
</p>
</div>
<div class="clearfix"></div>
<div class="col-sm-6">
<h3 class="orcl3">Existing Office 365 Customers</h3>
<p>You're already paying for it, why not maximize your return on investment?  Learn more about making the most out of your Office 365 subscription.</p>
</div>
<div class="col-sm-6">
<h3 class="orcl3">Potential Office 365 Customers</h3>
<p>Is your office software stuck in the 1990s? Microsoft Office 365 is the platform of choice to socialize and mobilize your enterprise.  Learn how to do more than check email and create documents.</p>
</div>
<div class="clearfix mb60"></div>

<div class="col-md-12"><h2>Why Office 365 migration </h2> </div>
<div class="col-lg-4 col-md-12 mb40">
<img class="mt60 center-block" src="/themes/custom/korone/images/office_migration_365/microimgs1.png" alt="Office 365 Migration Services" title="Office 365 Migration Services" />
</div>
<div class="col-lg-8 col-md-12">
<div class="row">
<div class="col-sm-4 mt30">
<img class="center-block" src="/themes/custom/korone/images/office_migration_365/mi0002.png" alt="COLLABORATE- Microsoft Office 365 Support" title="COLLABORATE- Microsoft Office 365 Support" />
<h4 class="col-sm-8 col-sm-offset-2 cobgss text-center">COLLABORATE</h4>
<div class="clearfix"></div>
<p class="text-center" >Store & Share documents, assign accesses, delegate workflow - Get it done</p>
<img class="center-block mt50" src="/themes/custom/korone/images/office_migration_365/mi002.png" alt="SharePoint- Microsoft Office 365 Support" title="SharePoint- Microsoft Office 365 Support"  />
</div>

<div class="col-sm-4 mt30">
<img class="center-block" src="/themes/custom/korone/images/office_migration_365/mi0003.png" alt="SOCIALIZE- Microsoft 365 Support" title="SOCIALIZE- Microsoft 365 Support" />
<h4 class="col-sm-8 col-sm-offset-2 cobgss text-center">SOCIALIZE</h4>
<div class="clearfix"></div>
<p class="text-center" >Start conversations, share knowledge and build communities <br /> &nbsp;</p>
<img class="center-block" src="/themes/custom/korone/images/office_migration_365/mi003.png" alt="Yammer- Microsoft 365 Support" title="Yammer- Microsoft 365 Support" />
</div>
<div class="col-sm-4 mt30">
<img class="center-block" src="/themes/custom/korone/images/office_migration_365/mi0004.png" alt="MOBILIZE- Office 365 Migration Services" title="MOBILIZE- Office 365 Migration Services" />
<h4 class="col-sm-8 col-sm-offset-2 cobgss text-center">MOBILIZE</h4>
<div class="clearfix"></div>
<p class="text-center" >Enjoy the full comfort of the cloud - share and access across devices. <br /> &nbsp;</p>
<img class="center-block" src="/themes/custom/korone/images/office_migration_365/mi004.png" alt="One Drive + Power Apps- Office 365 Migration Services" title="One Drive + Power Apps- Office 365 Migration Services" />
</div>
</div>
</div>
<div class="clearfix"></div>
<div class="sign_up_consultation">
	<div class="row">
		<div class="mb30 signfre mt40">
			<button class="btn center-block" type="button">
			  SIGN UP FOR CONSULTATION FOR OFFICE 365 MIGRATION SERVICES 
			</button>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 col-sm-12">
			<div id="collapseExample">
			<div class="clearfix"></div>
			{{ page.home_banner }}
			</div>
		</div>
	</div>
</div>

</div>
</div>
</div>
</div><!-- container-fluid -->
</section>

<div class="container-fluid office-365-new">
<div class="container">
<h2>Top 10 Benefits of Migrating to Microsoft Office 365</h2>
<p>Along with the advantages of Word, PowerPoint, and Excel <a href="/office365-migration" title="Microsoft Office 365">Microsoft office 365 </a> migration  offers much more than a traditional email application. Korcomptenz Microsoft Office 365 migration support services will enable you to take advantage and maximize your investment.</p>
<div class="row">
<div class="col-lg-3 sap-s4-hana-text">
<div class="mb30 responsiveBottom"><img alt="Yammer- Microsoft Office 365 Support" title="Yammer- Microsoft Office 365 Support" class="center-block blog-img-width" src="/themes/custom/korone/images/blog-images/Energize-yammer.png" />
<h4>Yammer</h4>
<p><strong>Energize your Organisation with Yammer</strong> an enterprise social tool that can help increase team productivity.</p>
</div>
</div>
<div class="col-lg-3 sap-s4-hana-text">
<div class="mb15 responsiveBottom"><img alt="Emails- Microsoft 365 Support" title="Emails- Microsoft 365 Support" class="center-block blog-img-width" src="/themes/custom/korone/images/blog-images/accessibility-email.png" />
<h4>Accessibility</h4>
<p><strong>Anytime and Anywhere accessibility</strong> on email through the cloud-based email, helps you stay on top of your work through mobile or web.</p>
</div>
</div>
<div class="col-lg-3 sap-s4-hana-text">
<div class="mb15 responsiveBottom"><img alt="Ownership- Office 365 Migration Services" title="Ownership- Office 365 Migration Services" class="center-block blog-img-width" src="/themes/custom/korone/images/blog-images/Low-cost.png" />
<h4>Ownership</h4>
<p><strong>Low cost of ownership</strong> than keeping everything secured under traditional models and or dedicated team.</p>
</div>
</div>
<div class="col-lg-3 sap-s4-hana-text">
<div class="mb15 responsiveBottom"><img alt="Protection Protection- Microsoft Office 365 Support" title="Protection Protection- Microsoft Office 365 Support" class="center-block blog-img-width" src="/themes/custom/korone/images/blog-images/span-free.png" />
<h4>Protection</h4>
<p><strong>Spam free Protection</strong> through <strong>Microsoft Office 365</strong> ensuring your email and network is free from spam, computer viruses and malware.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-3 sap-s4-hana-text">
<div class="mb30 responsiveBottom"><img alt="SharePoint- Microsoft 365 Support" title="SharePoint- Microsoft 365 Support" class="center-block blog-img-width" src="/themes/custom/korone/images/blog-images/sharepoint.png" />
<h4>SharePoint</h4>
<p>With Microsoft Office 365 support services, learn how you can combine document library, calendar, contacts, and other informational features with best-in-class workflow through <strong>SharePoint</strong>.</p>
</div>
</div>
<div class="col-lg-3 sap-s4-hana-text">
<div class="mb15 responsiveBottom"><img alt="Downtime- Office 365 Migration Services" title="Downtime- Office 365 Migration Services" class="center-block blog-img-width" src="/themes/custom/korone/images/blog-images/downtime.png" />
<h4>No Downtime</h4>
<p><strong>Experience No Downtime</strong> with the backing of  Microsoft office 365 support services and their  multiple datacenters, located all over the world- If there is an outage at one datacentre, another can act as a backup.</p>
</div>
</div>
<div class="col-lg-3 sap-s4-hana-text">
<div class="mb15 responsiveBottom"><img alt="Storage- Microsoft Office 365 Support" title="Storage- Microsoft Office 365 Support" class="center-block blog-img-width" src="/themes/custom/korone/images/blog-images/storage.png" />
<h4>Storage</h4>
<p><strong>Larger mailbox storage</strong> – save every email, without the need to delete emails to optimize on storage, the maximum limit for each email is 50 GB, go easy on housekeeping.</p>
</div>
</div>
<div class="col-lg-3 sap-s4-hana-text">
<div class="mb30 responsiveBottom"><img alt="Compatibility- Microsoft 365 Support" title="Compatibility- Microsoft 365 Support" class="center-block blog-img-width" src="/themes/custom/korone/images/blog-images/Compatibility-of-email.png" />
<h4>Compatibility</h4>
<p><strong>Compatibility of email with other desktop systems</strong>: Many companies can't upgrade all of their desktop systems to the latest operating system. That's not necessary to use Office 365.</p>
</div>
</div>
</div>
<div class="row mb60">
<div class="col-lg-6 sap-s4-hana-text">
<div class="mb15 responsiveBottom mobile-viweBottom"><img alt="Versions- Office 365 Migration Services" title="Versions- Office 365 Migration Services" class="center-block blog-img-width" src="/themes/custom/korone/images/blog-images/Get-up-to-date-version.png" />
<h4>Versions</h4>
<p><strong>Get up to date version</strong> with Office 365 migration services, companies and their users get all the features and functionality of the very latest versions of Microsoft's server and Office products. Antivirus signatures are kept up to date, and security measures are applied in accordance with the Microsoft Trustworthy Computing initiative.</p>
</div>
</div>
<div class="col-lg-6 sap-s4-hana-text">
<div class="mb15 responsiveBottom mobile-viweBottom"><img alt="Compliant- Microsoft Office 365 Support" title="Compliant- Microsoft Office 365 Support" class="center-block blog-img-width" src="/themes/custom/korone/images/blog-images/policies.png" />
<h4>Compliant</h4>
<p>MS Office is Compliant with government and industry regulations like ISO 27001 standards, completed SAS70 Type I and II audits, and achieved the EU Safe Harbour seal. Microsoft has also added controls for helping customers comply with HIPAA (Health Insurance Portability and Accountability Act) and FERPA (Family Educational Rights and Privacy Act). <strong>Being Compliant is a big deal!</strong> Up-to-date versions.</p>
</div>
</div>
</div>
</div><!--container-->
</div><!-- container-fluid -->
</div>
<div class="container-fluid">
	<div class="container">
		<h2 class="text-left">Important topics of interest </h2>
	<div class="blog-sidear">
     <div class="blog-title-sidebar">
     <a href="/blog/top-reasons-to-choose-microsoft-dynamics-365" title="Which ERP is best to invest and why to consider Microsoft Dynamics 365?">Which ERP is best to invest and why to consider Microsoft Dynamics 365?</a>
     </div>
     <div class="blogd-dec-sidebar">
   <p>The role of an ERP system is to automate the key processes of your department, thereby ensuring considerable savings in both time and cost. In fact, having the right ERP system is critically important to ensure that your business processes are in perfect sync,</p>
     </div>
     <div class="blog-date-sidebar">
         November 08, 2018
     </div>
     </div>
     
     <div class="blog-sidear">
     <div class="blog-title-sidebar">
     <a href="/blog/dynamics-retail-solutions" title="The Microsoft Dynamics Retail Experience">The Microsoft Dynamics Retail Experience</a>
     </div>
     <div class="blogd-dec-sidebar">
     Earlier it was just the Internet, fast forward now, we have a convergence of big data, cloud, and the Internet of things ( IoT ) that is creating possibly new highways to making sense of the large data available, 
     </div>
     <div class="blog-date-sidebar">
        October 03, 2018
     </div>
     </div>
     
      <div class="blog-sidear">
     <div class="blog-title-sidebar">
     <a href="/blog/microsft-dynamics-industry-solutions" title="Top 5 challenges in Manufacturing and Retail industry">Top 5 challenges in Manufacturing and Retail industry</a>
     </div>
     <div class="blogd-dec-sidebar">
     <p>The manufacturing industry is steadily growing, thanks to new technology and lean manufacturing processes along with a strengthening economy. However, there remain real challenges.  Thankfully, manufacturers can take advantage of the latest advancements in technology to move ahead with confidence.</p>
     </div>
     <div class="blog-date-sidebar">
        July 19, 2018
     </div>
     </div>
        
        
	</div>
</div>

 {% if page.footer_total_transformation_blog %}
  <div class="container-fluid coldbl1">
	<div class="container">
		<div class="row form2">
		<div class="col-sm-12"><h3 class="text-center">SUGGESTED READS</h3></div>
		<div class="clearfix"></div>
			<div class="col-md-12">
			<div class="col-md-1"></div>
			<div class="suggsld col-md-10">
       			 {{ page.footer_total_transformation_blog }}
			</div>
			<div class="col-md-1"></div>
        	</div>
    	</div>    
 	 </div>
  {% endif %}
</section>
  <!-- thank ydou Modal -->
  {% if page.footer_features %}
  <section class="responsiveBottomOut">
    <div class="container">
      <div class="responsiveBottom">
        {{ page.footer_features }}
      </div>
    </div>
  </section>
  {% endif %}
  {% if page.footer_video %}
 <section class="responsiveContent ">    
    <div class="videoPresentation">
	 {{ page.footer_video }}      
    </div>
  </section> 
  {% endif %}
 {% if page.footer_services %}
 <section class="ProductBottom ServicesTxt">
	 {{ page.footer_services }}
</section> 	 
  {% endif %}
  {% if page.footer_first %}
  <section class="blueband">
  <div class="fullwidth ">
  {{ page.footer_first }}
  </div>
  </section>
  {% endif %}
  {% if page.footer_second %}
  <section class="greybandOut">
    <div class="container">
	{{ page.footer_second }}      
    </div>
  </section>
  {% endif %}
</div>
<!--Content End-->
{% include '@korone/footer.html.twig' %}
<style>
.md-bg-banner-new .carousel-inner h2 span { display: inline-block !important;}
.logoStyle a img { width:23.5% !important}
	</style>