{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
{% include '@korone/header.html.twig' %} 

<!--Content-->
<div class="main-container ios"> 
  <!--Inner Banner-->
  <section class="ios-banner"><img alt="Android App Development Service" class="ios-shite-overlay" src="/themes/custom/korone/images/ios-img/ios-banner-bg.png" />
<div class="container">
<div class="col-xs-12 col-md-12 ios-sbanner-txt in-view-nn">
<div>
<h3>Innovative Android App Development Services Provide Top-Notch Expertise for all Your Business Needs</h3>

<p class="text-justify"> </p>
<a href="/request-consultation" title="Request a Consultation">Request a Consultation</a></div>
<img alt="Android App Development Service" class="hidden-xs animation-element slide-left" src="/themes/custom/korone/images/ios-img/android-devices.png" /></div>
</div>
</section>
  <!--Inner Banner End-->
 
<section class="ios-verticals">
<div class="container">
<h1 class="seo-h1-hidden">Android App Development Service Company</h1>
	<h3>Verticals We Serve</h3>
	<p>We provide native iOS and hybrid app development services for a wide variety of domains and industries. </p>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Finance" src="/themes/custom/korone/images/ios-img/finance.png">
			<p>Finance</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Retail" src="/themes/custom/korone/images/ios-img/ecommerce.png">
			<p>Retail</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Wellness" src="/themes/custom/korone/images/ios-img/healthcare.png">
			<p>Wellness</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Oil & Gas" src="/themes/custom/korone/images/ios-img/oilandgas.png">
			<p>Oil & Gas</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Transportation" src="/themes/custom/korone/images/ios-img/transportation.png">
			<p>Transportation</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Logistics" src="/themes/custom/korone/images/ios-img/logistics.png">
			<p>Logistics</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Productivity" src="/themes/custom/korone/images/ios-img/productivity.png">
			<p>Productivity</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Healthcare" src="/themes/custom/korone/images/ios-img/wellness.png">
			<p>Healthcare</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Travel" src="/themes/custom/korone/images/ios-img/travel.png">
			<p>Travel</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Lifestyle" src="/themes/custom/korone/images/ios-img/lifestyle.png">
			<p>Lifestyle</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Entertainment" src="/themes/custom/korone/images/ios-img/entertainment.png">
			<p>Entertainment</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<img alt="Education" src="/themes/custom/korone/images/ios-img/education.png">
			<p>Education</p>
		</div>
	</div>
	</div>
</section>  

<section class="ios-technology">
<div class="col-xs-12 col-md-12 ios-sbanner-txt">
<div class="">
	<h3>Android App Development Company</h3>
	<p class="text-justify">Our experienced, engaged, and vibrant teams of app developers and solution architects deliver top-notch solutions with innovative features to meet the needs of your audiences and business.</p>
	
<p class="text-justify">We provide additional peace of mind by following all of the latest trends, and understanding the impact of future Android releases before they affect your app.</p>

	</div>
	<img alt="Android App Development Company" src="/themes/custom/korone/images/ios-img/android-right.jpg" >
</div>
</section>

<section class="ios-technology ios-lft">
<div class="col-xs-12 col-md-12 ios-sbanner-txt">
<img alt="Development" src="/themes/custom/korone/images/ios-img/android-left.jpg">
<div class="">
	<h3>Development</h3>
		<p class="text-justify">KORCOMPTENZ uses proven processes, honed over thousands of projects and 15 years of technology experience to deliver your dream app.  From B2C to enterprise app development, KORCOMPTENZ is a provider that stands out from the rest, with the experience and expertise to delver in an efficient and timely manner.</p>
	</div>
	
</div>
</section>

<section class="ios-devices">
	<div class="container animation-element slide-left">
		<div class="col-xs-12 col-sm-4">
			<img alt="Phone" src="/themes/custom/korone/images/ios-img/android-mobile.png">
			<p>Phone</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img alt="Tablet" src="/themes/custom/korone/images/ios-img/android-tab.png">
			<p>Tablet</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img alt="Smart Watch" src="/themes/custom/korone/images/ios-img/android-watch.png">
			<p>Smart Watch</p>
		</div>
	</div>
	
</section>

<section class="ios-native-dev">
<div class="container">
<div class="col-xs-12 col-md-12 ios-sbanner-txt">
<div class="">
	<h3>Native Development</h3>

		<p class="text-justify">Native Android apps are created using Android platforms and development tools such as Android studio, Java. Native Android applications provide the best performance due to its adequate access to the device hardware and its Android-centric options.</p>
<div class="col-xs-12 ios-dev-img">
	<div class="col-xs-6 col-sm-4">
		<img alt="Java" src="/themes/custom/korone/images/ios-img/java.png">
		<p> Java</p>
	</div>
	<div class="col-xs-6 col-sm-4">
		<img alt="Kotlin" src="/themes/custom/korone/images/ios-img/kotlin.png">
		<p> Kotlin C</p>
	</div>
	<div class="col-xs-6 col-sm-4">
		<img alt="Android Studio" src="/themes/custom/korone/images/ios-img/android-dev.png">
		<p> Android Studio</p>
	</div>
	
</div>
	</div>
	<img alt="Android App Development Company" src="/themes/custom/korone/images/ios-img/android-watch-2.png" class="animation-element slide-left">
</div></div>
</section>

<section class="ios-hybrid">
<div class="container">
<div class="col-xs-12 col-md-12 ios-sbanner-txt">
<div class="">
	<h3>Hybrid Development</h3>
		<p class="text-justify">Hybrid Android apps are created using web technologies like HTML5, JQuery/JavaScript and CSS. The final build is wrapped in a native Android container and used as a regular app. This hybrid approach is also called "Write Once, Run Anywhere" as the same code can run on multiple platforms.</p>
		<div class="ios-codeicons">
		<img alt="Hybrid Development"  src="/themes/custom/korone/images/ios-img/html-icons.png">
		<img alt="Hybrid Development" src="/themes/custom/korone/images/ios-img/cordova-icons.png"></div>
	</div>
	<img alt="Hybrid Development" src="/themes/custom/korone/images/ios-img/ios-screen.png" class="animation-element slide-left">
</div>
</div>
</section>

<section class="ios-features">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-4 ios-features-txt ">
			<h3>Android Mobile App Features</h3>
			<p class="text-justify">Modern mobile apps can support an almost unlimited range of features, from basic messaging, to photos, to sophisticated personalization based on a person's geolocation.</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 mt40">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<img alt="Map integration" src="/themes/custom/korone/images/ios-img/map.png">
					<p>Map integration</p>
				</div>
				<div class="col-sm-6 col-md-4">
					<img alt="GPS, Geofencing, and Beacons" src="/themes/custom/korone/images/ios-img/gps.png">
					<p>GPS, Geofencing, and Beacons</p>
				</div>
				<div class="col-sm-6 col-md-4 mb30">
					<img alt="Offline storage (SQLite)" src="/themes/custom/korone/images/ios-img/sqllite.png">
					<p>Offline Storage </p>
				</div>
				<div class="col-sm-6 col-md-4">
					<img alt="Multimedia" src="/themes/custom/korone/images/ios-img/multimediaa.png">
					<p>Multimedia</p>
				</div>
				<div class="col-sm-6 col-md-4">
					<img alt="IoT" src="/themes/custom/korone/images/ios-img/lot.png">
					<p>IoT</p>
				</div>
				<div class="col-sm-6 col-md-4">
					<img alt="Enterprise &amp; m-Commerce apps" src="/themes/custom/korone/images/ios-img/mcommerce.png">
					<p>Enterprise + E-commerce Apps</p>
				</div>
			</div>	
		</div>
		
	</div>
</section>
<section class="android-benefits">
	<div class="container">
	<h3>Android App Benefits</h3>
  <!--  <p class="text-justify">There are a lot of benefits choosing Android as a option to reach our target audience. One such option is the increasing number of Android users. Following are some of the other benefits:</p>-->
	<div class="row row-eq-height animation-element slide-left in-view-nn">
		
		<div class="col-sm-12 col-xs-12 col-md-3">
		<img alt="Low Investment" src="/themes/custom/korone/images/ios-img/android-icon.png">
			<strong>Low Investment</strong>
			<p class="text-justify">Android is an open source software stack for a wide range of mobile devices and a corresponding open source project led by Google.</p>
		</div>
        <div class="col-sm-12 col-xs-12 col-md-3">
		<img alt="Easy Customization" src="/themes/custom/korone/images/ios-img/customizzation.png">
			<strong>Easy Customization</strong>
			<p class="text-justify">Android provides endless customization options making it more flexible for developers to build enaging apps.</p>
		</div>
		<div class="col-sm-12 col-xs-12 col-md-3">
		<img alt="BYOD Policy" src="/themes/custom/korone/images/ios-img/security.png">
			<strong>BYOD Policy</strong>
			<p class="text-justify">Android market share is over 80% thanks to a Bring Your Own Device (BYOD) policy that as allowed hundreds of manufacturers to participate and innovate, allowing you to access millions of users.</p>
		</div>
		<div class="col-sm-12 col-xs-12 col-md-3 ">
		<img alt="Wearable Devices" src="/themes/custom/korone/images/ios-img/wearables.png">
			<strong>Wearable Devices</strong>
			<p class="text-justify">Google's Android Wear and leading providers like FitBit offer unique opportunities for your app to integrate with wearable devices.
</p>
		</div>
		</div>
	</div>
</section>
</div>
  <!-- thank ydou Modal -->
  
  {% if page.footer_features %}
  <section class="responsiveBottomOut">
    <div class="container">
      <div class="responsiveBottom">
        {{ page.footer_features }}
      </div>
    </div>
    
  </section>
  {% endif %}
  {% if page.footer_video %}
 <section class="responsiveContent ">    
    <div class="videoPresentation">
	 {{ page.footer_video }}      
    </div>
  </section> 
  {% endif %}
 
 {% if page.footer_services %}
 <section class="ProductBottom ServicesTxt">
	 {{ page.footer_services }}
</section> 	 
  {% endif %}
  
  {% if page.footer_first %}
  <section class="blueband">
  <div class="fullwidth ">
  {{ page.footer_first }}
  </div>
  </section>
  {% endif %}
  {% if page.footer_second %}
  <section class="greybandOut">
    <div class="container">
	{{ page.footer_second }}      
    </div>
  </section>
  {% endif %}
</div>
<!--Content End-->

{% include '@korone/footer.html.twig' %}

