{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<style>
.greybandOut { display:none;}
.pager__item.pager__item--first {

    display: none;

}
.pager__item.pager__item--last {

    display: none;

}
.pager__items.js-pager__items {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    float: left;
	width: 100%;
}
.js-pager__items li {
	display:inline;
	padding: 0px;
	list-style: none;
	border: none;
	width: auto;
}
.pager li > a, .pager li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
	border-radius: 0px;
}
.pager li > a:hover, .pager li > a:focus, .pager li > a:is-active {
    text-decoration: none;
    background-color: #000;
}
.block-views { display:none;}
#cat_name {display:none;}
.block-simplenews{display:none;}
#edit-actions input.button { 
	background: #17c3ff;
	padding: 7px 30px;
	border-radius: 4px;
	border: 1px solid #17c3ff;
	color: #fff;
	width: auto;
	margin-bottom: 24px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1111; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background: #FFF; 
    margin: auto;
    padding: 0px;
    border: none;
    width: 30%;
	border-radius: 0px;
}

/* The Close Button */
.close {
    color: #FFF;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0px;
    border: 3px solid #FFF;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 21px;
    margin-right: -10px;
    background: #000;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #FFF;
}
.blog-newsletter-click {
    background-color: #17c3ff;
    padding: 7px 30px;
    border-radius: 0px;
    border: 1px solid #17c3ff;
    color: #fff;
	cursor: pointer;
}
.messages__wrapper {
    display: block;
    position: fixed;
    z-index: 1111;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    padding-left: 35%;
}
.messages--status {
	color: #325e1c;
	background: #FFF;
	background-image: none;
	border: none;
	width: 50%;
	box-shadow: none;
	height: 250px;
}	
.messages--error {
	color: #325e1c;
	background: #FFF;
	background-image: none;
	border: none;
	width: 50%;
	box-shadow: none;
	height: 300px;
}
.ff-thankyou {
    color: #4B4B4B;
	padding-top: 40px;
	margin: 15px;
}
.ff-thankyou .jumbotron {
    margin-top: 0px;
    background-color: #23c1cb;
    color: #343233;
	border-radius: 12px;
	padding-left: 10px;
	padding-right: 10px;
}
.ff-thankyou .icon-contt span {
    display: block;
    background-color: #333;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-top: 0px;
    border-radius: 100%;
    margin-top: -95px;
	margin-bottom: 10px;
}
.jumbotron {
    padding-top: 48px;
    padding-bottom: 35px;
}
@media only screen and (max-width: 990px){
    .modal-content{ width: 90%; }
	.messages--status { width:90%;}
	.messages--error { width:90%;}
} 
@media only screen and (max-width: 359px){
    .modal-content{ width: 90%; }
	.messages--status { width:90%;}
	.messages--error { width:90%;}
}
#archive_list {
    height: 310px;
    overflow-y: scroll;
}
#archive_listd {
    height: 310px;
    overflow-y: scroll;
	display:none;
} 
.wordpress ul.resp-tabs-list, p {
    margin-bottom: 0px !important;
} 
.thank_closed {
	color: #FFF;
	float: right;
	font-size: 25px;
	font-weight: bold;
	border: 3px solid #FFF;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 26px;
	margin-right: -30px;
	background: #000;
	opacity: 1;
	margin-top: -25px;
	cursor: pointer;
}
.error_thank_closed {
    color: #FFF;
    float: right;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid #FFF;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 26px;
    margin-right: -30px;
    background: #000;
    opacity: 1;
    margin-top: -40px;
    cursor: pointer;
}
.thank_closed:hover,
.thank_closed:focus {
    color: #FFF;
}
.blog-newsletter input[type="email"], .blog-newsletter input[type="text"] {
    width: 60%;
    height: 35px;
    padding: 10px;
    font-size: 14px;
}
.form-item-field-select-industry-0-value { display:none;}
</style>
<script>	
	var requestemail = new XMLHttpRequest();
    requestemail.open("POST", "/blog-new/", true);
    requestemail.responseType = "document";
    requestemail.send();
	requestemail.onreadystatechange = function() {
		if (requestemail.readyState == 4) {			 
			 var modal = document.getElementById('myModal'); 
			 modal.style.display = "block";
			 var cat_url ='';
			 var docs = requestemail.response;			 
			 var session_elem = docs.getElementById("block-views-block-blog-category-main-lists-block-1");
			 var session_top = docs.getElementById("block-views-block-top-article-posts-block-1");
			 var session_newsle = docs.getElementById("block-simplenewssubscription");
			 var get_session_de = [session_elem.innerHTML];
			 var get_toppost = [session_top.innerHTML];
			 var get_blognew = [session_newsle.innerHTML];
			 document.getElementById('category_list').innerHTML = get_session_de;
			 document.getElementById('top_article_views').innerHTML = get_toppost;
			 //document.getElementById('top_article_viewstwo').innerHTML = get_toppost;
			 document.getElementById('blog_newletters').innerHTML = get_blognew;
			 document.getElementById('blog_newletters_pop').innerHTML = get_blognew;
			 cat_url = window.location.href.split('?cat=')[1];
			 index = cat_url.indexOf("&arc=");
    		 res = cat_url.substr(0, index);
			 //var res = cat_url.replace("&arc=", "");
			 //alert(cat_url);
			 if(res =='1'){
			 	document.getElementById('cat_name').style.display = 'block';
			 	document.getElementById('cat_name').innerHTML = '<span><a href="/blog-new?cat=All&arc=All"><strong>X</strong>Business Management Solutions</a></span>';
			 } else if(res =='6'){
			 	document.getElementById('cat_name').style.display = 'block';
			 	document.getElementById('cat_name').innerHTML = '<span><a href="/blog-new?cat=All&arc=All"><strong>X</strong>Infrastructure + Cloud Management</a></span>';
			 } else if(res =='11'){
			 	document.getElementById('cat_name').style.display = 'block';
				document.getElementById('cat_name').innerHTML = '<span><a href="/blog-new?cat=All&arc=All"><strong>X</strong>Mobile Apps + Custom Dev</a></span>';
			 } else if(res =='16'){
			 	document.getElementById('cat_name').style.display = 'block';
				document.getElementById('cat_name').innerHTML = '<span><a href="/blog-new?cat=All&arc=All"><strong>X</strong>Platforms + Specialized Services</a></span>';
			 } else if(res =='26'){
			 	document.getElementById('cat_name').style.display = 'block';
				document.getElementById('cat_name').innerHTML = '<span><a href="/blog-new?cat=All&arc=All"><strong>X</strong>Technology Trends</a></span>';
			 } else if(res =='31'){
			 	document.getElementById('cat_name').style.display = 'block';
				document.getElementById('cat_name').innerHTML = '<span><a href="/blog-new?cat=All&arc=All"><strong>X</strong>Web + Marketing Technology</a></span>';
			 } else if(res =='36'){
			 	document.getElementById('cat_name').style.display = 'block';
				document.getElementById('cat_name').innerHTML = '<span><a href="/blog-new?cat=All&arc=All"><strong>X</strong>Microsoft Dynamics Business Solutions</a></span>';
			 }
			 if(res !=''){
			 	document.getElementById('archive_list').style.display = 'none';
				document.getElementById('archive_listd').style.display = 'block';
				var archive = '<div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=062017">June 2017</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=072017">July 2017</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=082017">September 2017</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=092017">October 2017</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=112017">November 2017</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=122017">December 2017</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=012018">January 2018</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=022018">February 2018</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=032018">March 2018</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=042018">April 2018</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=052018">May 2018</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=062018">June 2018</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=072018">July 2018</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=082018">August 2018</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=092018">September 2018</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=102018">October 2018</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=112018">November 2018</a></div></div><div class="b-recent-box"><div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat='+res+'&arc=122018">December 2018</a></div></div>';
				document.getElementById('archive_listd').innerHTML = archive;
			 }
		}
	}
/*function blog_newletters_button(){
	var modal = document.getElementById('myModal'); 
	modal.style.display = "block";
}*/	
//function close_popup(){
//	var modal = document.getElementById('myModal');
//	modal.style.display = "none";
//}
//function thankclose_popup(){
//	var modals = document.getElementsByClassName('messages__wrapper')[0];
//	modals.style.display = "none";
//}
function change_industry(selectindu){
	document.getElementById('edit-field-industry-0-value').value = selectindu;
}
</script>	
<div{{ attributes.addClass(classes) }}>
	<section class="image-bg   page-title-2  innerBanner parallax Resourcebanner">
		<div class="background-image-holder banner_top_innerpage">
			<img alt="Background Image" class="background-image" src="/sites/default/files/blog-Banner-img.jpg" />
		</div>
		<div class="container">
			<h2>Total Transformation Blog</h2>
			<p><a href="/">Korcomptenz</a></p>	 
		</div>
	</section>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
 
  <div class="main-content blog-landing">
	<div class="container-fluid">
		<div class="col-sm-12 col-md-9">
			<section class="blog-heading">
				<h2>Recent Posts</h2>
				<p id="cat_name">
				</p>
			</section>
			{% if rows %}
				<section class="blog-post-container row">
					{{ rows }}
				</section>
				{% if pager|render|trim %}
					<section class="row col-xs-12">
						{{ pager }}
					</section>
				{% endif %}
			{% elseif empty %}
    			<div class="view-empty">
      				{{ empty }}
    				</div>
 		 	{% endif %}
		</div>
		<div class="col-sm-12 col-md-3"> 
			<div class="blog-categories-sec">	
			
				<div id="exTab2" class="exTab col-xs-12">	
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#1" data-toggle="tab" aria-expanded="true">Categories</a>
						</li>
						<li class="">
							<a href="#2" data-toggle="tab" aria-expanded="false">Archives</a>
						</li>
					</ul>
					<div class="tab-content ">
						<div class="tab-pane active" id="1">
							<div id="category_list"></div>
						</div>
						<div class="tab-pane" id="2">
							<div id="archive_listd"></div>
							<div id="archive_list">
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=062017">June 2017</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=072017">July 2017</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=082017">September 2017</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=092017">October 2017</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=112017">November 2017</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=122017">December 2017</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=012018">January 2018</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=022018">February 2018</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=032018">March 2018</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=042018">April 2018</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=052018">May 2018</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=062018">June 2018</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=072018">July 2018</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=082018">August 2018</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=092018">September 2018</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=102018">October 2018</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=112018">November 2018</a></div>
								</div>
								<div class="b-recent-box">
								<div class="arrow-right"></div><div class="b-title-text"><a href="/blog-new?cat=All&arc=122018">December 2018</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>	
				
				<div id="exTab3" class="exTab col-xs-12 ">	
					<ul class="nav nav-tabs">
						<li class="">
							<a href="#3" data-toggle="tab" aria-expanded="false">Trending</a>
						</li>
						<li class="active">
							<a href="#4" data-toggle="tab" aria-expanded="true">Top posts</a>
						</li>
					</ul>
					<div class="tab-content ">
						<div class="tab-pane" id="3">
							<div class="b-recent-box">
								<img src="/sites/default/files/styles/thumbnail/public/Five-Leading-Business-Intelligence-Platforms-1.png" alt=" Five Leading Business Intelligence Platforms" typeof="Image" width="100" height="79">
								<span><a href="/five-leading-business-intelligence-platforms" hreflang="en">Five Leading Business Intelligence Platforms
</a></span>
							</div>							
							<div class="b-recent-box">
								<img src="/sites/default/files/styles/thumbnail/public/rfid-2.jpg" alt="RFID - The Waves of the Modern Life" typeof="Image" width="100" height="79">
								<span><a href="/rfid-the-waves-of-the-modern-life" hreflang="en">RFID - The Waves of the Modern Life</a></span>
							</div>
							<div class="b-recent-box">
								<img src="/sites/default/files/styles/thumbnail/public/blog-listing-img-1.jpg" alt="banner" typeof="Image" width="100" height="79">
								<span><a href="/do-you-want-to-reduce-your-total-cost-of-ownership-for-microsoft-dynamics-by-up-to-40" hreflang="en">Do you want to reduce your total cost of ownership for Microsoft Dynamics by up to 40%?</a></span>
							</div>
							<div class="b-recent-box">
								<img src="/sites/default/files/styles/thumbnail/public/digimacron-blog-1.jpg" alt="DigiMarCon East" typeof="Image" width="100" height="79">
								<span><a href="/visualizing-your-data" hreflang="en">DigiMarCon East: Recapping a Great Conference</a></span>
							</div>
							<div class="b-recent-box">
								<img src="/sites/default/files/styles/thumbnail/public/blog-listing-img-2.jpg" alt="Business" typeof="Image" width="100" height="79">
								<span>
								<a href="/can-your-business-benefit-from-a-37-increase-in-revenue" hreflang="en">Can your business benefit from a 37% increase in revenue?</a>
								</span>
							</div>
							
						</div>
						<div class="tab-pane active" id="4">
							<div id="top_article_views"><div>
						</div>
					</div>		
				</div> 
			</div>	
		</div>	
		<div class="blog-newsletter col-xs-12">
			<div class="blog-newsletter-inr">
				<div class="newsletterbg"></div>
				<div>
					<div id="edit-message" class="js-form-item form-item js-form-type-item form-item-message js-form-item-message form-no-label">
					Subscribe by email <br />
					<p>Get industry insights, product updates, event invitations, articles and case studies in your inbox.</p>
					</div>
					<div id="blog_newletters"></div>
				</div>
				<div class="newsletterbg"></div>
			</div>
		</div>	
	</div>
   </div>	 
<!-- The Modal -->
<!--<div id="myModal" class="modal">	
	  
	  <div class="modal-content">
		<span onclick="close_popup()" class="close">&times;</span>
		<div class="blog-newsletter col-xs-12" style="margin-top: 0px;">
			<div class="blog-newsletter-inr">
				<div class="newsletterbg"></div>
				<div id="edit-message" class="js-form-item form-item js-form-type-item form-item-message js-form-item-message form-no-label">
				Subscribe by email <br />
				<p>Get industry insights, product updates, event invitations, articles and case studies in your inbox.</p>
				</div>
				<div id="blog_newletters_pop"></div>
				<div class="newsletterbg"></div>
			</div>
		</div>		
	  </div>
</div>
<div id="myModal" class="modal">
	<div class="modal-content">
		{% include 'status-messages.html.twig' %}
	</div>
</div>-->
<!-- The Modal -->
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
